@mixin ai-image-alt-text($name: '.ai-image-alt-text') {
    #{$name} {
        position: relative;

        &__btn {
            position: absolute;
            right: 22px;
            bottom: 22px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        input {
            padding-right: 43px;
        }
    }
}

@include ai-image-alt-text;
