.ai-category-modal {
    &.is-loading & {
        &__loading {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    &.is-empty & {
        &__empty {
            display: block;
        }
    }

    &.is-empty &,
    &.is-loading & {
        &__actions,
        &__select {
            display: none;
        }
    }

    &__loading,
    &__empty {
        display: none;
    }
}
