<div class="ai-image-alt-text">
    {{ form_row(form, {
        'attr': {
            'class': 'js-image-alt-text-field image-alt-text-field',
        }
    }) }}
    <span class="ai-image-alt-text__btn js-ai-image-alt-text__btn" title="AI assistant">
        <span class="fa fa-magic"></span>
    </span>
</div>
