bla123

{#<div class="col-lg-12 ai-image-alt-text">#}
{#    {{ form_row(form.alt_text, {#}
{#        'attr': {#}
{#            'class': 'js-image-alt-text-field image-alt-text-field',#}
{#        }#}
{#    }) }}#}
{#    <span class="ai-image-alt-text__btn js-ai-image-alt-text__btn" title="AI assistant">#}
{#        <span class="fa fa-magic"></span>#}
{#    </span>#}
{#</div>#}
