{% set fieldSelector = '.js-image-alt-text-field input' %}
{# Programmatically find a field with a pattern name, where "%locale%" dynamically changes based on the image-set's locale. #}
{% set fieldPatter = ['product_form_edit[image_set_%locale%][0][product_images][0][external_url_small]', 'product_form_edit[image_set_%local%][0][product_images][0][external_url_large]'] %}

{% block body %}
    <div class="form-wrapper-clickable-affix">
        {% block input %}
            {{ form_row(form, {
                row_attr: { class: 'js-image-alt-text-field image-alt-text-field' }
            }) }}
        {% endblock %}

        {% block trigger %}
            <button type="button" data-url="/product-management-ai/image-alt-text" data-product-field-pattern="{{ fieldPatter | json_encode }}" data-field-selector="{{ fieldSelector }}" popovertarget="ai-alt-text-modal" class="form-wrapper-clickable-affix__button js-ai-alt-image-trigger btn-naked" title="{{ 'AI assistant' | trans }}">
                <span class="fa fa-magic"></span>
            </button>
        {% endblock %}
    </div>
{% endblock %}
